{
    "plugins": ["security"],
    "parserOptions": {
        "ecmaVersion": 6
    },
	"env": {
		"node": true
	},
	"rules": {
		"security/detect-unsafe-regex": 1,
		"security/detect-buffer-noassert": 1,
		"security/detect-child-process": 1,
		"security/detect-disable-mustache-escape": 1,
		"security/detect-eval-with-expression": 1,
		"security/detect-no-csrf-before-method-override": 1,
		"security/detect-non-literal-fs-filename": 0,
		"security/detect-non-literal-regexp": 1,
		"security/detect-non-literal-require": 1,
		"security/detect-object-injection": 0,
		"security/detect-possible-timing-attacks": 1,
		"security/detect-pseudoRandomBytes": 1,
		"max-len": ["error", 100],
		"valid-jsdoc": 0,
		"quotes": 0,
		"quote-props": 0,
		"dot-location": 0,
		"space-before-function-paren": 0,
		"consistent-return": 0,
		"func-names": 0,
		"vars-on-top": 0,
		"sort-keys": 0,
		"no-trailing-spaces": 0,
		"no-use-before-define": 0,
		"padded-blocks": 0,
		"id-length": 0,
		"no-plusplus": 0,
		"sort-vars": 0,
		"func-style": ["error", "declaration"],
		"require-jsdoc": 0,
		"lines-around-directive": 0,
		"lines-around-comment": 0,
		"newline-before-return": 0,
		"spaced-comment": 0,
		"newline-after-var": 0,
		"init-declarations": 0,
		"one-var": 0,
		"max-statements": 0,
		"capitalized-comments": 0,
		"object-curly-newline": 0,
		"no-prototype-builtins": 0,
		"no-underscore-dangle": 0,
		"no-magic-numbers": 0,
		"no-extra-parens": "error",
		"no-else-return": 0,
		"no-ternary": 0,
		"indent": 0,
		"max-lines": 0,
		"no-continue": 0,
		"new-cap": 0,
		"multiline-ternary": 0,
		"no-param-reassign": 0,
		"array-callback-return": 0,
        "arrow-parens": ["error"],
		"no-var": "error",
		"no-process-env": 0,
        "global-require": 0,
		"no-negated-condition": 0,
        "no-bitwise": 0,
        "no-undefined": 0,
		"strict": ["error", "global"]
	}
}
